<ng-container
    *ngIf="{
        weatherObject: weatherObject$ | async,
        locationList: locationList$ | async
    } as data"
>
    <div
        class="background-wrapper"
        *ngIf="data.weatherObject; else loadingBackground"
    >
        <div
            class="background"
            [ngStyle]="{
                'background-image': getBackgroundUrl(data.weatherObject.code)
            }"
        ></div>
    </div>

    <section>
        <app-search-form
            [locationList]="data.locationList"
            [hasFocus]="searchHasFocus"
            (focusRequest$)="onFocus($event)"
            (locationRequest$)="locationRequest($event)"
            (weatherRequest$)="weatherRequest($event)"
        ></app-search-form>

        <app-current-item
            *ngIf="data.weatherObject; else loadingCurrent"
            [data]="data.weatherObject"
            [units]="units"
        ></app-current-item>

        <article
            *ngIf="data.weatherObject; else loadingForecast"
            class=""
        >
            <app-forecast-item
                *ngFor="let forecastDay of data.weatherObject.forecast"
                [data]="forecastDay"
                [units]="units"
            ></app-forecast-item>
    </article>

    <footer>
        <small>Powered by </small>
        <a
            href="https://www.weatherapi.com/"
            target="_blank"
            title="Weather API"
            ><h5>WeatherAPI.com</h5>
        </a>
    </footer>
    </section>
</ng-container>

<!-- Loading -->

<ng-template #loadingBackground>
    <div class="background-wrapper">
        <div
            class="background"
            [ngStyle]="{
                'background-image': getBackgroundUrl(1000)
            }"
        ></div>
    </div>
</ng-template>

<ng-template #loadingCurrent>
    <div class="center">
        <!-- Main -->
        <h4 class="align-center mv-16">Name</h4>
        <h1 class="align-center mv-16">X</h1>
        <h4 class="align-center mv-16">xxxxxxx</h4>
        <!-- Data points -->
        <div class="flex row space-between">
            <div class="flex column p-8">
                <h5 class="p-8">MIN/MAX</h5>
                <h4>Y / X</h4>
            </div>
            <div class="flex column p-8">
                <h5 class="p-8">Vindhastighet</h5>
                <h4 class="p-8">X m/s</h4>
            </div>

            <div class="flex column p-8">
                <h5 class="p-8">Vindriktning</h5>
                <h4 class="p-8">XYZ</h4>
            </div>

            <div class="flex column p-8">
                <h5 class="p-8">Luftfuktighet</h5>
                <h4 class="p-8">X %</h4>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #loadingForecast>
    <div class="top">
        <div class="flex row space-around">
            <div
                *ngFor="let day of forecastDayRange"
                class="wrapper background-on-picture text-on-black"
            >
                <span class="label p-8"> yyy - mm - dd </span>
                <span>icon</span>
                <span class="thin-text p-8">Y / Y</span>
            </div>
        </div>
    </div>
</ng-template>
