<ng-container
    *ngIf="{
        weatherObject: weatherObject$ | async,
        locationList: locationList$ | async
    } as data"
>
    <div
        class="background-wrapper"
        *ngIf="data.weatherObject; else loadingBackground"
    >
        <div
            class="background"
            [ngStyle]="{
                'background-image': getBackgroundUrl(data.weatherObject.code)
            }"
        ></div>
    </div>

    <section>
        <app-search-form
            [locationList]="data.locationList"
            [hasFocus]="searchHasFocus"
            (focusRequest$)="onFocus($event)"
            (locationRequest$)="locationRequest($event)"
            (weatherRequest$)="weatherRequest($event)"
        ></app-search-form>

        <app-current-item
            *ngIf="data.weatherObject; else loadingCurrent"
            [data]="data.weatherObject"
            [units]="units"
        ></app-current-item>

        <article *ngIf="data.weatherObject; else loadingForecast">
            <app-forecast-item
                *ngFor="let forecastDay of data.weatherObject.forecast"
                [data]="forecastDay"
                [units]="units"
            ></app-forecast-item>
        </article>

        <footer>
            <small>Powered by </small>
            <a
                href="https://www.weatherapi.com/"
                target="_blank"
                title="Weather API"
                ><h5>WeatherAPI.com</h5>
            </a>
        </footer>
    </section>
</ng-container>

<!-- Loading -->

<ng-template #loadingBackground>
    <div class="background-wrapper">
        <div
            class="background"
            [ngStyle]="{
                'background-image': getBackgroundUrl(1000)
            }"
        ></div>
    </div>
</ng-template>

<ng-template #loadingCurrent>
    <app-current-item [loading]="true"></app-current-item>
</ng-template>


<ng-template #loadingForecast>
    <article>
        <app-forecast-item *ngFor="let day of forecastDayRange" [loading]="true"></app-forecast-item>
    </article>
</ng-template>
