<!-- BACKGROUND  -->
<div class="background-wrapper" *ngIf="weatherObject$ | async as data">
    <div
        class="background"
        [ngStyle]="{
            'background-image': getBackgroundUrl(data)
        }"
    ></div>
</div>

<!-- SEARCH  -->
<div class="flex column space-between full-width">
    <div class="top flex column">
        <div class="search">
            <label [class.hidden]="!isSearchFocused" for="location-search"
                >Sök efter en ort</label
            >
            <input
                #searchInput
                id="location-search"
                type="text"
                list="location-list"
                [placeholder]="isSearchFocused ? ' ' : 'Sök efter en ort'"
                minlength="3"
            />
        </div>
        <ul id="location-list" *ngIf="locationList$ | async as locations">
            <li *ngFor="let location of locations">
                <a
                    href="#"
                    id="{{ location.name }}"
                    (click)="weatherRequest($event)"
                    >{{ location.name }}</a
                >
            </li>
        </ul>
    </div>
    <!-- DISPLAY -->
    <div class="center" *ngIf="weatherObject$ | async as data">
        <!-- Main -->
        <h4 class="align-center mv-16">{{ data.location.name }}</h4>
        <h1 class="align-center mv-16">
            {{ data.current.temp_c | asFahrenheit: doConvert }}
        </h1>
        <h4 class="align-center mv-16">{{ data.current.condition.text }}</h4>
        <!-- Data points -->
        <div class="flex row space-between">
            <div class="flex column p-8">
                <h5 class="p-8">MIN/MAX</h5>
                <h4 class="p-8">
                    {{
                        data.forecast.forecastday[0].day.mintemp_c
                            | asFahrenheit: doConvert
                    }}
                    /
                    {{
                        data.forecast.forecastday[0].day.maxtemp_c
                            | asFahrenheit: doConvert
                    }}
                </h4>
            </div>
            <div class="flex column p-8">
                <h5 class="p-8">Vindhastighet</h5>
                <h4 class="p-8">
                    {{
                        asMilesPerHour
                            ? (data.current.wind_kph | asMilesPerHour)
                            : (data.current.wind_kph | asMetersPerSecond)
                    }}
                </h4>
            </div>

            <div class="flex column p-8">
                <h5 class="p-8">Vindriktning</h5>
                <h4 class="p-8">{{ data.current.wind_dir }}</h4>
            </div>

            <div class="flex column p-8">
                <h5 class="p-8">Luftfuktighet</h5>
                <h4 class="p-8">{{ data.current.humidity }}%</h4>
            </div>
        </div>
    </div>

    <div *ngIf="weatherObject$ | async as data" class="top">
        <div class="flex row space-around">
            <div
                *ngFor="let day of data.forecast.forecastday"
                class="wrapper background-on-picture text-on-black"
            >
                <span class="label p-8">{{ day.date }} </span>
                <img class="-8" src="{{ day.day.condition.icon }}" />
                <span class="thin-text p-8"
                    >{{ day.day.mintemp_c | asFahrenheit: doConvert }} /
                    {{ day.day.maxtemp_c | asFahrenheit: doConvert }}</span
                >
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <div class="center background-on-picture text-on-black p-8">
        Powered by
        <a
            href="https://www.weatherapi.com/"
            target="_blank"
            title="Weather API"
            >WeatherAPI.com</a
        >
    </div>
</div>
