/** Background */
.background-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}
.background {
    /* Add the blur effect */
    filter: blur(4px);
    -webkit-filter: blur(4px);

    /* Full height */
    width: 100%;
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/** Flex settings*/
.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

/** layouts */
.top {
    /*     margin: 10% auto; */
    margin: clamp(100px, 10%, 300px) auto;
    margin-top: clamp(50px, 5%, 150px);
    margin-bottom: clamp(50px, 5%, 150px);
    font-weight: bold;
    max-width: 600px;
    width: 100%;
    flex-direction: column;
    border-radius: 2px;
}

.background-on-picture {
    background-color: rgba(0, 0, 0, 0.4);
}

.text-on-black {
    color: white;
}

.center {
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 2px;
}

.align-center {
    text-align: center;
}

.mv-16 {
    margin-top: 16px;
    margin-bottom: 16px;
}

.p-8 {
    padding: 8px;
}

/** Elements */

h1::first-letter {
    text-transform: uppercase;
}

button {
    all: unset;
    font-weight: 600;
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
    border: 1px solid #272727;
    padding: 8px;
    border-radius: 2px;
}

button:hover {
    cursor: pointer;
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.6); /* Black w/opacity/see-through */
}

label {
    flex-basis: max-content;
}

input {
    border: none;
    padding: 16px;
    box-sizing: border-box;
    flex: 2;
    width: 100%;
}

input:focus {
    outline: 2px solid #272727 !important;
}

input:focus + ul {
    display: block;
}

a {
    color: inherit;
    width: 100%;
    height: 100%;
}

ul {
    max-width: 600px;
    width: 100%;
    /*     overflow: hidden;
    overflow-y: scroll; */
    position: absolute;
    transform: translate(0px, 70px);
    z-index: 2;
}

li {
    background: white;
    padding: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}

a:hover {
    background: rgb(204, 204, 204);
    cursor: pointer;
}

li:hover {
    background: rgb(204, 204, 204);
    cursor: pointer;
}

.search {
    height: 66px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 16px;
}
