/** Flex settings*/
.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}