:host {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}
label {
    padding-bottom: 4px;
}

.input-field {
    border-radius: 1px;
    display: flex;
    flex-direction: row;
}
.input-field:focus-within {
    outline: 2px solid #272727 !important;
    border-radius: 1px;
}

input {
    border: none;
    border-radius: 1px 0 0 1px;
    padding: 16px;
    box-sizing: border-box;
}

input:focus {
    outline: none;
}

input:focus + ul {
    display: block;
}

button {
    background-color: white;
    border: none;
    border-radius: 0 1px 1px 0;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    color: gray;
}

button:active {
    color: silver;
}

i {
    padding: 8px 16px;
}

ul {
    width: calc(100vw - 32px);
    max-width: 600px;
    max-height: 70%;
    position: absolute;
    transform: translate(0px, 60px);
    z-index: 2;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.12);
    border-radius: 1px;
    list-style-type: none;
    padding: 0;
    overflow: scroll;
}

li {
    background: white;
}

li:hover {
    background: rgb(204, 204, 204);
    cursor: pointer;
}
a {
    color: inherit;
    width: 100%;
    height: 100%;
    display: block;
    text-decoration: none;
    padding: 16px;
}
a:hover {
    background: rgb(204, 204, 204);
    cursor: pointer;
}

@media (min-width: 600px) {
    ul {
        overflow: hidden;
    }
}
