* {
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    width: 100%;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: #272727;
}

root {
    color: #272727;
}

h1 {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.05em;
}

h1::first-letter {
    text-transform: uppercase;
}

h2 {
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 0.05em;
}
h3 {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.05em;
}
h4 {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
}
h5 {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

p {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
}

small {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
}

.hidden {
    visibility: hidden;
}

/* Classes for shimmer effect on loading items */


.animate {
    border-radius: 5px;
    animation : shimmer 4s infinite;
    background: linear-gradient(to right, #3a3a3a 4%, #6e6e6e 25%, #3a3a3a 36%);
    background-size: 1000px 100%;
 }

 @keyframes shimmer {
    0% {
      background-position: -600px 0;
    }
    100% {
      background-position: 600px 0;
    }
  }