:host {
    display: flex;
    flex-direction: column;
    text-align: left;

    color: white;
    background: rgba(39, 39, 39, 0.6);
    border-radius: 1px;
}

section {
    padding-top: 8px;
    padding-bottom: 8px;
}

section > * {
    padding-top: 8px;
    padding-bottom: 8px;
}

section:nth-of-type(2) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
section:nth-of-type(2) > * {
    flex-basis: 150px;
    max-width: 200px;
    flex-grow: 1;
    padding-left: 16px;
}

small {
    text-align: right;
    padding: 16px;
    display: block;
}

h1 {
    text-align: center;
}

h4 {
    text-align: center;
}

h5 {
    padding-bottom: 4px;
}

.small{
    width: 200px;
    height: 24px;
}

.medium {
    width: 100px;
    height: 48px;
}

.box{
    width: 48px;
    height: 48px;
}

.currentShimmer {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    height: 150px;
}

.updatedShimmer {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 16px;
}


