
<section>
    <h4>
        {{ data.locationName }}
    </h4>
    <h1>
        {{ data.currentTempC | convertDegreeUnit: units.degreeUnit }}
    </h1>
    <h4>
        {{ data.condition }}
    </h4>
</section>
<section>
    <div>
        <h5>MIN/MAX</h5>
        <h4>
            {{ data.minTempC | convertDegreeUnit: units.degreeUnit }}
            /
            {{ data.maxTempC | convertDegreeUnit: units.degreeUnit }}
        </h4>
    </div>
    <div>
        <h5>Vindhastighet</h5>
        <h4>
            {{ data.windspeed | convertWindspeedUnit: units.windspeedUnit }}
        </h4>
    </div>

    <div>
        <h5>Vindriktning</h5>
        <h4>
            {{ data.windDirection }}
        </h4>
    </div>

    <div>
        <h5>Luftfuktighet</h5>
        <h4>{{ data.humidity }}%</h4>
    </div>
</section>
<!-- Updated -->

   <small> Senast uppdaterad: {{ data.lastUpdated }}</small>
